@charset "UTF-8";
@import "reset.css";
/********************************
기본레이아웃
*********************************/
#wrap{
    width: 100%;
    height: 100%;
    margin: auto;
}
/******* 상단영역 ********/
#header{
    width: 970px;
    height: 140px;
    margin: auto;
}
#header>h1{
    width: 181px;
    height: 59px;
    background: url(../img/logo.png) no-repeat;
    
    text-indent: -9999px;
}
/***메뉴작업***/
#header>ul.gnb{
    width: 100%;
    height: 50px;
    font-size: 0;
    overflow: hidden;   
}
#header>ul.gnb>li{
    display: inline-block;
    width: 194px;
    height: 100%;

    background-color: rgb(255, 81, 0);

    /* line-height: 50px; */
    text-align: center;
    padding: 0px;
    border: 1px solid #fff;
}
#header>ul.gnb>li>a{
    display: block;
    width: 194px;
    height: 100%;
    text-align: center;
}
#header>ul.gnb>li>a>span.menu{
    display: inline-block;
    height: 20px;
    /* border: 1px solid blue; */
    margin-top: 15px;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    background: url(../img/gnb_bult.png) no-repeat ;
    padding-left: 30px;

    /* text-indent: 30px; 이거 단독으로 가능*/ 
}
#header>ul.gnb>li>a>span.m01{ background-position: 0 0; }
#header>ul.gnb>li>a>span.m02{ background-position: 0 -21px; }
#header>ul.gnb>li>a>span.m03{ background-position: 0 -43px; }
#header>ul.gnb>li>a>span.m04{ background-position: 0 -66px; }
#header>ul.gnb>li>a>span.m05{ background-position: 0 -88px; }

#header>ul.gnb>li:hover{ background-color: #e24c09; }

/**** 푸터영역 ****/
#footer{
    width: auto;
    background-color: #eee;
    margin-top: 80px;
    padding: 40px 0px 50px; /*위 좌/우 아래*/
}
#footer .foot_guide{
    width: 900px;
    margin: auto;
}
#footer .foot_menu{
    overflow: hidden;
    padding-bottom: 20px;
}
#footer .foot_menu li{
    display: inline-block;
    padding: 0px 10px;
    border-left: 1px solid #999 ;
}

/* li태그들 중 가장 첫번째 li요소 선택법 */
#footer .foot_menu li:first-child{
    border-left: none;
    padding-left: 0;
}
#footer .foot_menu li a{
    color: #777;
    font-size: 12px;
    font-weight: bold;
}
#footer .foot_menu li a:hover{
    color: #ff4f00;
}

#footer address{
    font-size: 12px;
    color: #777;
    padding-bottom: 7px;
}
#footer .copyright{ font-size: 11px; }